#logo-dv {
	justify-content: center;
}

#apresentacao-dv {
	text-align: center;
	padding: 10px;
}

#apresentacao-p {
	font-size: 1.7rem;
}

#versao-lk {
	font-size: 1.2rem;
}

h1 {
	font-size: 4rem;
	line-height: 5rem;
}

h2 {
    font-size: 2rem;
}

h3 {
	font-size: 1.7rem;
}

p {
	font-size: 1rem;
}